body, .container-fluid{
  margin: 0;
  padding: 0;
}
.bd-content{
  position: absolute;
  left:10%;
  width: 60%;
  margin: 0 20px 0 20px;
}
.bd-sidebar{
  position:absolute;
  background: #333;
  padding: 20px 20px 100% 20px;
  margin: 0;
  left:0;
  top:0;
  width: 178px;
  z-index: 1000;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
